body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: rgb(236, 160, 235);
    background: radial-gradient(circle, rgb(44, 60, 97) 0%, rgb(22, 22, 36) 35%, rgb(10, 10, 12) 100%);
}

header {
    display: flex;
    align-items: center;
    padding: 45px 25px;
    color: white;
    position: relative;
    background-color: #171825;
    box-shadow: 1px 3px 25px 0px rgba(0, 0, 0, 0.336);
}

.quickgames {
    max-width: 130px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

main {
    padding: 20px;
}

.galeria-de-jogos {
    padding-top: 3%;
    padding-bottom: 3%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.galeria-de-jogos img {
    box-shadow: 1px 3px 25px 0px rgba(0,0,0,0.75);
    max-width: 280px;
    border-image-slice: 1;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.galeria-de-jogos img:hover {
    transform: scale(1.01);
    border-width: 3px; 
    border-style: solid;
    border-color: rgb(255, 196, 0);
}

a.my-button {
    position: absolute;
    left: 81%;
    background: linear-gradient(45deg, rgba(36, 51, 255, 0.9), rgb(132, 0, 255));
    color: #ffffff;
    font-family: "REM", sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    padding: 14px 15px;
    border: 2px;
    border-radius: 10px;
}

a.my-button:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

a.my-button:active {
    transform: scale(0.95);
}

a.my-button2 {
    position: absolute;
    left: 90%;
    background-color: #11417800;
    color: #ffffff;
    font-family: "REM", sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    padding: 12px 15px;
    border: 2px solid rgb(132, 0, 255);
    border-radius: 10px;
}

a.my-button2:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

a.my-button2:active {
    transform: scale(0.95);
}

h4 {
    position: absolute;
    left: 72%;
    transform: translateX(-50%);
}

.account {
    max-width: 60px;
    position: absolute;
    left: 85%;
    transform: translateX(-50%);
}

.contete {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; /* Centraliza verticalmente */
    top: 91%; /* Posiciona no meio verticalmente */
    left: 50%; /* Posiciona no meio horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta o posicionamento para centralizar */
    max-width: 800px; /* Ajuste conforme necessário */
}

.imagem {
    text-align: center;
    justify-content: center;
    max-width: 100%; /* Ajuste conforme necessário */
}

.containerr {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Garante que o container use toda a largura da tela */
}

.player1 {
    color:#ffa90b;
    position: absolute;
    top:65%;
    display: inline-block;
    font-family: "REM", sans-serif;
}
.player10 {
    color:#ffffff;
    position: absolute;
    top:59%;
    display: inline-block;
    font-family: "REM", sans-serif;
}
.player2 {
    color:#ffa90b;
    position: absolute;
    top:69%;
    justify-content: center;
    display: inline-block;
    font-family: "REM", sans-serif;
}
