body{
    padding-bottom: 20px;
    display:flex;
    flex-direction: column;
    align-items: center;
    background: rgb(33,63,84);
    background: radial-gradient(circle, rgb(26, 42, 53) 0%, rgba(45,45,66,1) 35%, rgba(23,23,27,1) 100%);
    color:rgb(255, 255, 255);
  }

  h1{
    font-size: 28px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  p{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
  }
  
  .game{
    display:flex;
  }
  
  .game-area {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255); /* Alteração da cor de fundo para preto */
}
  
  .level{
    list-style:none;
    margin:0;
    padding:20px;
  }
  
  .level li{
    margin-bottom:10px;
  }
  
  .pontuacao{
    background: #f5f5ff;
    border-radius: 0 0 10px 10px;
    margin:0px;
    padding:20px;
    padding-bottom: 20px;
    list-style: none;
    text-align: center;
    font-weight: 900;
    color:#000000;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    font-size: 24px; 
  }
  
  a{
    color:rgb(0, 0, 0);
  }
  
  canvas{
    border:3px solid #141323;
    border-radius:10px 10px 0 0;
    width: 550px;
  }
  
  button {
      display: inline-block;
      border: none;
      padding: 1rem 2rem;
      margin: 0;
      text-decoration: none;
      background: #ffffff;
      color: #000000;
      font-family: sans-serif;
      font-size: 1rem;
      cursor: pointer;
      text-align: center;
      transition: background 250ms ease-in-out, 
                  transform 150ms ease;
      width:100%;
  }
  
  button:hover,
  button:focus {
      background: rgba(63, 45, 45, 0.6);
  }
  
  button:focus {
      outline: 1px solid #ffffff;
      outline-offset: -4px;
  }
  
  button:active {
      transform: scale(0.99);
  }