body {
    font-family: Arial, sans-serif;
    background: linear-gradient(#70c9f6, #E0F6FF);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

h1 {
    color: #333;
}

.tabuleiro {
    display: inline-block;
    border: 2px solid #333;
    border-radius: 5px;
    margin-top: 20px;
}

.linha {
    display: flex;
}

.quadrados {
    width: 50px;
    height: 50px;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.quadrados:hover {
    background-color: #f0f0f0;
}

#status {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

.botao {
    background-color: #000000;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;
}